main.spec
todo
app_icon.ico
build/
dist/

backend/fernweh_flask_env

diary_entries.db
diary_entries_backup.db

_legacy
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment variables
.env
backend/.env
